<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="'Екземпляри ' + ${literature.getName()}"></title>
</head>
<body>
<section layout:fragment="content">
    <div class="section-container">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div class="d-flex justify-content-start align-items-center">
                <h2 th:text="'Екземпляри ' + ${literature.getName()}"/>
            </div>
        </div>
        <div class="container pb-2 border-bottom">
            <div class="row">
                <div class="col">
                    <form th:action="@{/exemplars/show/for/{id}(id = ${literature.getId()})}" th:method="GET"
                          class="d-flex" style="column-gap: 5px">
                        <input type="search" id="toSearch" name="toSearch" class="form-control"
                               th:value="${#httpServletRequest.getParameter('toSearch')}">
                        <button class="btn btn-outline-success" type="submit">
                            <!--SEARCH ICON-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </button>
                    </form>
                </div>
                <div class="col d-flex justify-content-end">
                    <a th:href="@{/exemplars/create/for/{id}(id = ${literature.getId()})}" class="btn btn-outline-secondary">Додати
                        екземпляр(-и) до...</a>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Номер</th>
                <th>Місцезнаходження</th>
                <th>В бібліотеці?</th>
                <th>Списати</th>
                <th>Видати</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="exemplar: ${exemplars}">
                <td th:text="${exemplar.getId()}"></td>
                <td>
                    <p th:text="'Бібліотека: '+${exemplar.getShelf().getBookCase().getReadingRoom().getLibrary().getNumber()}"></p>
                    <p th:text="'Читальна зала: '+${exemplar.getShelf().getBookCase().getReadingRoom().getNumber()}"></p>
                    <p th:text="'Стелаж: '+${exemplar.getShelf().getBookCase().getNumber()}"></p>
                    <p th:text="'Полиця: '+${exemplar.getShelf().getNumber()}"></p>
                </td>
                <td th:text="${exemplar.isLend() ? 'Виданий': 'У бібліотеці'}"></td>
                <td>
                    <form th:action="@{/writenOff/create/{id}(id=${exemplar.getId()})}" method="get">
                        <button type="submit" class="btn btn-sm btn-outline-danger">Списати</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/record/create/{id}(id=${exemplar.getId()})}" method="get">
                        <button type="submit" class="btn btn-sm btn-outline-primary">Видати</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Pagination" th:if="${exemplars.totalPages gt 0}">
            <ul class="pagination justify-content-center font-weight-medium">
                <li class="page-item" th:classappend="${exemplars.number eq 0} ? 'disabled'">
                    <a class="page-link svg-icon"
                       th:href="@{/exemplars/show/for/{id}?page={pageNum}&toSearch={toSearch}(id = ${literature.getId()}, pageNum=${exemplars.number lt 2 ? 1 : exemplars.number}, toSearch = ${#httpServletRequest.getParameter('toSearch')})}"
                       aria-label="Previous"
                       title="Previous Page" rel="tooltip">
                        <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:if="${exemplars.number + 1 > 5}">
                    <a class="page-link"
                       th:href="@{/exemplars/show/for/{id}?page={pageNum}&toSearch={toSearch}(id = ${literature.getId()}, pageNum=${1}, toSearch = ${#httpServletRequest.getParameter('toSearch')})}"
                       th:text="${1}"
                       th:title="${'Page '+ 1}"
                       rel="tooltip"></a>
                </li>
                <li class="page-item disabled" th:if="${exemplars.number + 1 > 6}">
                    <a class="page-link svg-icon" href="#">
                        <span data-feather="more-horizontal" width="20" height="20">...</span>
                    </a>
                </li>
                <li class="page-item"
                    th:each="i : ${#numbers.sequence( exemplars.number + 1 > 5 ? exemplars.number + 1 - 4: 1 , exemplars.totalPages > 5 + exemplars.number ? exemplars.number + 5 : exemplars.totalPages, 1)}"
                    th:classappend="${i eq exemplars.number + 1} ? 'active'">
                    <a class="page-link"
                       th:href="@{/exemplars/show/for/{id}?page={pageNum}&toSearch={toSearch}(id = ${literature.getId()}, pageNum=${i}, toSearch = ${#httpServletRequest.getParameter('toSearch')})}"
                       th:text="${i}"
                       th:title="${'Page '+ i}"
                       rel="tooltip"></a>
                </li>
                <li class="page-item disabled" th:if="${exemplars.number + 1 < exemplars.totalPages - 5}">
                    <a class="page-link svg-icon" href="#">
                        <span data-feather="more-horizontal" width="20" height="20">...</span>
                    </a>
                </li>
                <li class="page-item" th:if="${exemplars.number + 1 < exemplars.totalPages - 4}">
                    <a class="page-link"
                       th:href="@{/exemplars/show/for/{id}?page={pageNum}&toSearch={toSearch}(id = ${literature.getId()}, pageNum=${exemplars.totalPages}, toSearch = ${#httpServletRequest.getParameter('toSearch')})}"
                       th:text="${exemplars.totalPages}"
                       th:title="${'Page '+ exemplars.totalPages}"
                       rel="tooltip"></a>
                </li>
                <li class="page-item" th:classappend="${exemplars.number + 1 eq exemplars.totalPages} ? 'disabled'">
                    <a class="page-link svg-icon"
                       th:href="@{/exemplars/show/for/{id}?page={pageNum}&toSearch={toSearch}(id = ${literature.getId()}, pageNum=${exemplars.number + 2}, toSearch = ${#httpServletRequest.getParameter('toSearch')})}"
                       aria-label="Next"
                       title="Next Page" rel="tooltip">
                        <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>
</body>
</html>