<div layout:fragment="form(author)"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     xmlns:th="http://www.thymeleaf.org"
     th:object="${author}">
    <!--/*@thymesVar id="author" type="edu.babaiev.libr.model.Author"*/-->
    <div class="row mt-4">
        <div class="col">
            <label for="name" class="form-label">Ім'я</label>
            <input type="text" id="name" class="form-control"
                   th:field="*{name}">
        </div>
        <div class="col">
            <label for="description" class="form-label">Опис</label>
            <textarea class="form-control" id="description"
                      th:rows="3" th:maxlength="255"
                      th:field="*{description}"></textarea>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col d-flex justify-content-end">
            <a th:href="@{/authors/show/{id}(id=${author.getId()})}" class="btn btn-danger">Скасувати</a>
        </div>
        <div class="col d-flex justify-content-start">
            <input type="submit" value="Підтвердити" class="btn btn-success">
        </div>
    </div>
</div>