<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title th:text="'Тип: ' + ${collectionType.getName()}"></title>
</head>
<body>
<section layout:fragment="content">
  <div class="section-container">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <div class="d-flex justify-content-start align-items-center">
        <h2 th:text="'Тип збірника: ' + ${collectionType.getName()}"/>
      </div>
      <div class="d-flex justify-content-end align-items-center" style="column-gap: 15px">
        <a th:href="@{/collectionTypes/edit/{id}(id = ${collectionType.getId()})}" class="btn btn-outline-warning">Редагувати</a>
        <form th:action="@{/collectionTypes/delete/{id}(id = ${collectionType.getId()})}" th:method="DELETE">
          <input type="submit" class="btn btn-outline-danger" value="Видалити">
        </form>
      </div>
    </div>
    <div class="container">
      <div class="row border-bottom">
        <div class="col">
          <p>Назва</p>
        </div>
        <div class="col">
          <p th:text="${collectionType.getName()}"></p>
        </div>
      </div>
      <div class="row border-bottom">
        <div class="col">
          <p>Опис</p>
        </div>
        <div class="col">
          <p th:text="${collectionType.getDescription()}">
          </p>
        </div>
      </div>
      <div class="row border-bottom">
        <div class="col">
          <p>Створено</p>
        </div>
        <div class="col">
          <p th:text="${collectionType.getCreatedAt()}"></p>
        </div>
      </div>
      <div class="row border-bottom">
        <div class="col">
          <p>Оновленно</p>
        </div>
        <div class="col">
          <p th:text="${collectionType.getUpdatedAt()}"></p>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>