<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Редагувати тип збірника</title>
</head>
<body>
<section layout:fragment="content">
    <div class="section-container">
        <h2 class="mb-2">Редагувати тип збірника</h2>
        <form th:action="@{/ui/collectionTypes/edit/{id}(id = ${collectionType.getId()})}" th:method="PUT"
              th:object="${collectionType}">
            <div layout:insert="~{/collectionType/form :: form(${collectionType})}">
            </div>
        </form>
    </div>
</section>
</body>
</html>