<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Редагувати тематику</title>
</head>
<body>
<section layout:fragment="content">
    <div class="section-container">
        <h2 class="mb-2">Редагувати тематику</h2>
        <form th:action="@{/ui/subjects/edit/{id}(id = ${subject.getId()})}" th:method="PUT" th:object="${subject}">
            <div layout:insert="~{/subject/form :: form(${subject})}">
            </div>
        </form>
    </div>
</section>
</body>
</html>