<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Редагувати монографію</title>
</head>
<body>
<section layout:fragment="content">
    <div class="section-container">
        <form th:action="@{/literature/edit/{id}/monograph(id=${monograph.getId()})}" th:method="PUT"
              th:object="${monograph}">
            <div layout:insert="~{/literature/monograph/monograph-form :: form(${monograph})}">
            </div>
        </form>
    </div>
</section>
</body>
</html>