<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${employee.getName()}"></title>
</head>
<body>
<section layout:fragment="content">
    <div class="section-container">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div class="d-flex justify-content-start align-items-center">
                <h2 th:text="${employee.getName()}"/>
            </div>
            <div class="d-flex justify-content-end align-items-center" style="column-gap: 15px"
            >

            </div>
        </div>
        <div class="container">
            <div class="row border-bottom">
                <div class="col">
                    <p>Ім'я</p>
                </div>
                <div class="col">
                    <p th:text="${employee.getName()}"></p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Читальна зала</p>
                </div>
                <div class="col">
                    <p th:text="'№' + ${employee.getReadingRoom().getNumber()}"></p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Дані для входу</p>
                </div>
                <div class="col">
                    <p th:text="'Логін: ' + ${employee.getKey().getLogin()}"></p>
                    <p th:text="'Пароль: ' + ${employee.getKey().getPassword()}"></p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Створено</p>
                </div>
                <div class="col">
                    <p th:text="${employee.getCreatedAt()}"></p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Оновленно</p>
                </div>
                <div class="col">
                    <p th:text="${employee.getUpdatedAt()}"></p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>