<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Бібліотечний фонд - Головна</title>
</head>
<body>
<section layout:fragment="content">
    <div class="d-flex h-100 text-center" style="min-height: 480px">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <main class="px-3">
                <h1>Інформаційна система бібліотечного фонду</h1>
                <p class="lead">Розробник: Бабаєв Артем Ілліч</p>
                <p class="lead">
                    <a th:href="@{/ui/literature/show}" class="btn btn-lg btn-secondary fw-bold">Перейти до каталогу</a>
                </p>
            </main>
        </div>
    </div>
</section>
</body>
</html>