<div layout:fragment="form(collection)"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     xmlns:th="http://www.thymeleaf.org" th:object="${collection}">
    <!--/*@thymesVar id="collection" type="edu.babaiev.libr.model.Collection"*/-->
        <div class="row mt-4">
            <div class="col">
                <label for="isn" class="form-label">ISN</label>
                <input type="text" id="isn" class="form-control"
                       th:field="*{isn}">
            </div>
            <div class="col">
                <label for="name" class="form-label">Назва</label>
                <input type="text" id="name" class="form-control"
                       th:field="*{name}">
            </div>
            <div class="col">
                <label for="publishingYear" class="form-label">Рік видавництва</label>
                <input type="number" id="publishingYear" class="form-control"
                       th:min="1800" th:max="${#dates.format(#dates.createNow(), 'yyyy')}"
                       th:field="*{publishingYear}">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <label for="numberOfPages" class="form-label">Кількість сторінок</label>
                <input type="number" id="numberOfPages" class="form-control"
                       th:field="*{numberOfPages}">
            </div>
            <div class="col">
                <label for="genre" class="form-label">Жанр</label>
                <select class="form-select" name="genre" id="genre" th:field="*{genre}">
                    <option selected value="" hidden>----ОБЕРІТЬ ЖАНР----</option>
                    <option th:each="genre: ${genres}"
                            th:value="${genre.getId()}"
                            th:text="${genre.getName()}"/>
                </select>
            </div>
            <div class="col">
                <label for="collectionType" class="form-label">Тип збірника</label>
                <select class="form-select" name="collectionType" id="collectionType" th:field="*{collectionType}">
                    <option selected value="" hidden>----ОБЕРІТЬ ТИП ЗБІРНИКА----</option>
                    <option th:each="collectionType: ${collectionTypes}"
                            th:value="${collectionType.getId()}"
                            th:text="${collectionType.getName()}"/>
                </select>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <label for="stock" class="form-label">Кількість</label>
                <input type="number" id="stock" class="form-control"
                       th:field="*{stock}">
            </div>
            <div class="col" style="margin-top: 35px;">
                <input type="checkbox" class="form-check-input" id="isLend"
                       th:field="*{lendable}" th:value="true">
                <label for="isLend" class="form-check-label">Чи видається на руки?</label>
            </div>
            <div class="col">
                <label for="lendPeriodInDays" class="form-label">Період видачі</label>
                <input type="number" id="lendPeriodInDays" class="form-control"
                       th:field="*{lendPeriodInDays}">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <label for="publisher" class="form-label">Видавництво</label>
                <select class="form-select" name="publisher" id="publisher" th:field="*{publisher}">
                    <option selected value="" hidden>----ОБЕРІТЬ ВИДАВНИЦТВО----</option>
                    <option th:each="publisher: ${publishers}"
                            th:value="${publisher.getId()}"
                            th:text="${publisher.getName()}"/>
                </select>
            </div>
            <div class="col">
                <label for="author" class="form-label">Автор/Упорядник</label>
                <select class="form-select" name="author" id="author" th:field="*{author}">
                    <option selected value="" hidden>----ОБЕРІТЬ АВТОРА/УПОРЯДНИКА----</option>
                    <option th:each="author: ${authors}"
                            th:value="${author.getId()}"
                            th:text="${author.getName()}"/>
                </select>
            </div>
            <div class="col">
                <label for="writings" class="form-label">Твори</label>
                <select class="form-select" name="writings" id="writings" th:field="*{writings}" multiple size="3">
                    <option selected value="" hidden>----ОБЕРІТЬ ТВОРИ----</option>
                    <option th:each="writing: ${writings}"
                            th:value="${writing.getId()}"
                            th:text="'«' + ${writing.getName()} + '» by ' + ${writing.getAuthors().stream().findFirst().orElse(null).getName()} + '...'"/>
                </select>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <label for="library" class="form-label">Бібліотека</label>
                <select class="form-select" name="library" id="library">
                    <option selected value="" hidden>----ОБЕРІТЬ БІБЛІОТЕКУ----</option>
                    <option th:each="library: ${libraries}"
                            th:value="${library.getId()}"
                            th:text="${library.getNumber()}"
                            th:selected="(${library.getId()} == *{shelf?.getBookCase()?.getReadingRoom()?.getLibrary()?.getId()})"/>
                </select>
            </div>
            <div class="col">
                <label for="readingRoom" class="form-label">Читална зала</label>
                <select class="form-select" name="readingRoom" id="readingRoom">
                    <option selected value="" hidden>----ОБЕРІТЬ ЧИТАЛЬНУ ЗАЛУ----</option>
                    <option th:each="readingRoom: ${readingRooms}"
                            th:value="${readingRoom.getId()}"
                            th:text="${readingRoom.getNumber()}"
                            th:selected="(${readingRoom.getId()} == *{shelf?.getBookCase()?.getReadingRoom()?.getId()})"
                            th:attr="data-parent='\'' + ${readingRoom.getLibrary().getId()}+ '\''"/>
                </select>
            </div>
            <div class="col">
                <label for="bookCase" class="form-label">Стелаж</label>
                <select class="form-select" name="bookCase" id="bookCase">
                    <option selected value="" hidden>----ОБЕРІТЬ СТЕЛАЖ----</option>
                    <option th:each="bookCase: ${bookCases}"
                            th:value="${bookCase.getId()}"
                            th:text="${bookCase.getNumber()}"
                            th:selected="(${bookCase.getId()} == *{shelf?.getBookCase()?.getId()})"
                            th:attr="data-parent='\'' + ${bookCase.getReadingRoom().getId()}+ '\''"/>
                </select>
            </div>
            <div class="col">
                <label for="shelf" class="form-label">Полиця</label>
                <select class="form-select" name="shelf" id="shelf" th:field="*{shelf}">
                    <option selected value="" hidden>----ОБЕРІТЬ ПОЛИЦЮ----</option>
                    <option th:each="shelf: ${shelves}"
                            th:value="${shelf.getId()}"
                            th:text="${shelf.getNumber()}"
                            th:attr="data-parent='\'' + ${shelf.getBookCase().getId()}+ '\''"/>
                </select>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <label for="description" class="form-label">Опис</label>
                <textarea class="form-control" id="description"
                          th:rows="3" th:maxlength="255"
                          th:field="*{description}"></textarea>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col d-flex justify-content-end">
                <a th:href="@{/templates/literature/show}" class="btn btn-danger">Скасувати</a>
            </div>
            <div class="col d-flex justify-content-start">
                <input type="submit" value="Підтвердити" class="btn btn-success">
            </div>
        </div>
    </div>