<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Полиці</title>
</head>
<body>
<section layout:fragment="content">
    <div class="section-container">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div class="d-flex justify-content-start align-items-center">
                <h2>Полиці</h2>
            </div>
            <div class="d-flex justify-content-end align-items-center" style="column-gap: 15px">
            </div>
        </div>
        <div class="container pb-2 border-bottom">
            <div class="row">
                <div class="col">
                    <form th:action="@{/ui/shelves/show}" th:method="GET" class="d-flex" style="column-gap: 5px">
                        <input type="search" id="number" name="number" class="form-control"
                               th:value="${#httpServletRequest.getParameter('number')}">
                        <button class="btn btn-outline-success" type="submit">
                            <!--SEARCH ICON-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </button>
                    </form>
                </div>
                <div class="col d-flex justify-content-end">
                    <form th:action="@{/ui/shelves/create}" th:method="GET" sec:authorize="hasAnyAuthority('OPERATOR')">
                        <input type="submit" th:value="Створити" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Полиця</th>
                <th>Стелаж</th>
                <th>Читальна зала</th>
                <th>Біблотека</th>
                <th>Повна інформація</th>
                <th sec:authorize="hasAnyAuthority('OPERATOR')">Редагувати</th>
                <th sec:authorize="hasAnyAuthority('OPERATOR')">Видалити</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="shelf: ${shelves}">
                <td th:text="${shelf.getNumber()}"></td>
                <td><a th:href="@{/bookCases/show/{id}(id = ${shelf.getBookCase().getId()})}"
                       th:text="${shelf.getBookCase().getNumber()}"></a></td>
                <td><a th:href="@{/readingRooms/show/{id}(id = ${shelf.getBookCase().getReadingRoom().getId()})}"
                       th:text="${shelf.getBookCase().getReadingRoom().getNumber()}"></a></td>
                <td>
                    <a th:href="@{/libraries/show/{id}(id = ${shelf.getBookCase().getReadingRoom().getLibrary().getId()})}"
                       th:text="${shelf.getBookCase().getReadingRoom().getLibrary().getNumber()}"></a></td>
                <td>
                    <form th:action="@{/ui/shelves/show/{id}(id=${shelf.getId()})}" method="get">
                        <button type="submit" class="btn btn-sm btn-outline-info">Повна інформація</button>
                    </form>
                </td>
                <td sec:authorize="hasAnyAuthority('OPERATOR')">
                    <form th:action="@{/ui/shelves/edit/{id}(id=${shelf.getId()})}" method="get">
                        <button type="submit" class="btn btn-sm btn-outline-warning">Редагувати</button>
                    </form>
                </td>
                <td sec:authorize="hasAnyAuthority('OPERATOR')">
                    <form th:action="@{/ui/shelves/delete/{id}(id=${shelf.getId()})}" th:method="DELETE">
                        <button type="submit" class="btn btn-sm btn-outline-danger">Видалити</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Pagination" th:if="${shelves.totalPages gt 0}">
            <ul class="pagination justify-content-center font-weight-medium">
                <li class="page-item" th:classappend="${shelves.number eq 0} ? 'disabled'">
                    <a class="page-link svg-icon"
                       th:href="@{/ui/shelves/show(page=${shelves.number lt 2 ? 1 : shelves.number}, number = ${#httpServletRequest.getParameter('number')})}"
                       aria-label="Previous"
                       title="Previous Page" rel="tooltip">
                        <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:if="${shelves.number + 1 > 5}">
                    <a class="page-link"
                       th:href="@{/ui/shelves/show(page=${1}, number = ${#httpServletRequest.getParameter('number')})}"
                       th:text="${1}"
                       th:title="${'Page '+ 1}"
                       rel="tooltip"></a>
                </li>
                <li class="page-item disabled" th:if="${shelves.number + 1 > 6}">
                    <a class="page-link svg-icon" href="#">
                        <span data-feather="more-horizontal" width="20" height="20">...</span>
                    </a>
                </li>
                <li class="page-item"
                    th:each="i : ${#numbers.sequence( shelves.number + 1 > 5 ? shelves.number + 1 - 4: 1 , shelves.totalPages > 5 + shelves.number ? shelves.number + 5 : shelves.totalPages, 1)}"
                    th:classappend="${i eq shelves.number + 1} ? 'active'">
                    <a class="page-link"
                       th:href="@{/ui/shelves/show(page=${i}, number = ${#httpServletRequest.getParameter('number')})}"
                       th:text="${i}"
                       th:title="${'Page '+ i}"
                       rel="tooltip"></a>
                </li>
                <li class="page-item disabled" th:if="${shelves.number + 1 < shelves.totalPages - 5}">
                    <a class="page-link svg-icon" href="#">
                        <span data-feather="more-horizontal" width="20" height="20">...</span>
                    </a>
                </li>
                <li class="page-item" th:if="${shelves.number + 1 < shelves.totalPages - 4}">
                    <a class="page-link"
                       th:href="@{/ui/shelves/show(page=${shelves.totalPages}, page = ${#httpServletRequest.getParameter('page')})}"
                       th:text="${shelves.totalPages}"
                       th:title="${'Page '+ shelves.totalPages}"
                       rel="tooltip"></a>
                </li>
                <li class="page-item" th:classappend="${shelves.number + 1 eq shelves.totalPages} ? 'disabled'">
                    <a class="page-link svg-icon"
                       th:href="@{/ui/shelves/show(page=${shelves.number + 2}, number = ${#httpServletRequest.getParameter('number')})}"
                       aria-label="Next"
                       title="Next Page" rel="tooltip">
                        <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>
</body>
</html>