<div layout:fragment="form(shelf)"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     xmlns:th="http://www.thymeleaf.org"
     th:object="${shelf}">
    <!--/*@thymesVar id="shelf" type="edu.chnu.library.model.Shelf"*/-->
    <div class="row mt-4">
        <div class="col">
            <label for="name" class="form-label">Номер</label>
            <input type="text" id="name" class="form-control"
                   th:field="*{number}" required>
        </div>
        <div class="col">
        </div>
        <div class="col">
            <label for="bookCase" class="form-label">Стелаж</label>
            <select class="form-select" id="bookCase" th:field="*{bookCase}" required>
                <option selected value="" hidden>----ОБЕРІТЬ СТЕЛАЖ----</option>
                <optgroup th:each="pair :${bookCases}" th:label="'Зала №'+ ${pair.getKey().getNumber()}">
                    <option th:each="bookCase :${pair.getValue()}" th:value="${bookCase.getId()}"
                            th:text="'Стелаж №' + ${bookCase.getNumber()}"/>
                </optgroup>
            </select>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col d-flex justify-content-end">
            <a th:href="@{/ui/shelves/show/{id}(id=${shelf?.getId()})}" class="btn btn-danger">Скасувати</a>
        </div>
        <div class="col d-flex justify-content-start">
            <input type="submit" value="Підтвердити" class="btn btn-success">
        </div>
    </div>
</div>