<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Редагувати тип монографії</title>
</head>
<body>
<section layout:fragment="content">
    <div class="section-container">
        <h2 class="mb-2">Редагувати тип монографії</h2>
        <form th:action="@{/ui/monographTypes/edit/{id}(id = ${monographType.getId()})}" th:method="PUT"
              th:object="${monographType}">
            <div layout:insert="~{/monographType/form :: form(${monographType})}">
            </div>
        </form>
    </div>
</section>
</body>
</html>