<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="'Публіцистика ' + ${periodical.getName()}"></title>
</head>
<body>
<section layout:fragment="content">
    <div class="section-container">
        <div class="container">
            <div class="row border-bottom">
                <div class="col">
                    <p>ISN</p>
                </div>
                <div class="col">
                    <p th:text="${periodical.getIsn()}"></p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Назва</p>
                </div>
                <div class="col">
                    <p th:text="${periodical.getName()}"></p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Рік видавництва</p>
                </div>
                <div class="col">
                    <p th:text="${periodical.getPublishingYear()}"></p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Видавництво</p>
                </div>
                <div class="col">
                    <p th:text="${periodical.getPublisher().getName()}"></p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Кількість у наявності</p>
                </div>
                <div class="col">
                    <p th:text="${periodical.getStock()}"></p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Місце читання</p>
                </div>
                <div class="col">
                    <p th:text="${periodical.isLendable()}"></p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Кількість сторінок</p>
                </div>
                <div class="col">
                    <p th:text="${periodical.getNumberOfPages()}"></p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Період видачі</p>
                </div>
                <div class="col">
                    <p th:text="${periodical.getLendPeriodInDays()}"></p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Жанр</p>
                </div>
                <div class="col">
                    <p th:text="${periodical.getPeriodicalType().getName()}"></p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Жанр</p>
                </div>
                <div class="col">
                    <p th:text="${periodical.getIssue()}"></p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Тип публіцистики</p>
                </div>
                <div class="col">
                    <p th:text="${periodical.getSubject()}"></p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Автори (-и)</p>
                </div>
                <div class="col">
                    <div th:each="article: ${periodical.getArticles()}">
                            <p th:text="${article.getName()}"></p>
                    </div>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Місце зберігання</p>
                </div>
                <div class="col">
                    <p>Полиця: <span th:text="${periodical.getShelf().getNumber()}"></span></p>
                    <p>Стелаж: <span th:text="${periodical.getShelf().getBookCase().getNumber()}"></span></p>
                    <p>Зала: <span
                            th:text="${periodical.getShelf().getBookCase().getReadingRoom().getNumber()}"></span>
                    </p>
                    <p>Бібліотека: <span
                            th:text="${periodical.getShelf().getBookCase().getReadingRoom().getLibrary().getNumber()}"></span>
                    </p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Опис</p>
                </div>
                <div class="col">
                    <p th:text="${periodical.getDescription()}"></p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>