<div layout:fragment="form(periodical)"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     xmlns:th="http://www.thymeleaf.org" th:object="${periodical}">
    <!--/*@thymesVar id="periodical" type="edu.chnu.library.model.Periodical"*/-->
    <div class="row mt-4">
        <div class="col">
            <label for="isn" class="form-label">ISN</label>
            <input required type="text" id="isn" class="form-control"
                   th:field="*{isn}">
        </div>
        <div class="col">
            <label for="name" class="form-label">Назва</label>
            <input required type="text" id="name" class="form-control"
                   th:field="*{name}">
        </div>
        <div class="col">
            <label for="publishingYear" class="form-label">Рік видавництва</label>
            <input required type="number" id="publishingYear" class="form-control"
                   min="1800" th:max="${#dates.format(#dates.createNow(), 'yyyy')}"
                   th:field="*{publishingYear}">
        </div>
        <div class="col"></div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <label for="numberOfPages" class="form-label">Кількість сторінок</label>
            <input required type="number" id="numberOfPages" class="form-control"
                   th:field="*{numberOfPages}">
        </div>
        <div class="col">
            <label for="genre" class="form-label">Тематика</label>
            <select required class="form-select" id="genre" th:field="*{subject}">
                <option selected value="" hidden>----ОБЕРІТЬ ТЕМАТИКУ----</option>
                <option th:each="subject: ${subjects}"
                        th:value="${subject.getId()}"
                        th:text="${subject.getName()}"/>
            </select>
        </div>
        <div class="col">
            <label for="bookType" class="form-label">Тип публіцистики</label>
            <select required class="form-select" id="bookType" th:field="*{periodicalType}">
                <option selected value="" hidden>----ОБЕРІТЬ ТИП ПУБЛІЦИСТИКИ----</option>
                <option th:each="periodicalType: ${periodicalTypes}"
                        th:value="${periodicalType.getId()}"
                        th:text="${periodicalType.getName()}"/>
            </select>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <label for="publisher" class="form-label">Видавництво</label>
            <select required class="form-select" id="publisher" th:field="*{publisher}">
                <option selected value="" hidden>----ОБЕРІТЬ ВИДАВНИЦТВО----</option>
                <option th:each="publisher: ${publishers}"
                        th:value="${publisher.getId()}"
                        th:text="${publisher.getName()}"/>
            </select>
        </div>
        <div class="col">
            <label for="issue" class="form-label">Номер/випуск</label>
            <input required type="text" id="issue" class="form-control"
                   th:field="*{issue}">
        </div>
        <div class="col">
            <label for="writings" class="form-label">Статті</label>
            <select required class="form-select" id="writings" th:field="*{articles}" multiple size="3">
                <option selected value="" hidden>----ОБЕРІТЬ СТАТТІ----</option>
                <option th:each="article: ${articles}"
                        th:value="${article.getId()}"
                        th:text="'«' + ${article.getName()} + '» by ' + ${article.getAuthors().stream().findFirst().orElse(null).getName()} + '...'"/>
            </select>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <label for="description" class="form-label">Опис</label>
            <textarea required class="form-control" id="description" rows="3" maxlength="255"
                      name="description"
                      th:field="*{description}"></textarea>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col d-flex justify-content-end">
            <a th:href="@{/ui/literature/show/{id}(id = ${periodical.getId()})}" class="btn btn-danger">Скасувати</a>
        </div>
        <div class="col d-flex justify-content-start">
            <input type="submit" value="Підтвердити" class="btn btn-success">
        </div>
    </div>
</div>