<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="'Книга ' + ${book.getName()}"></title>
</head>
<body>
<section layout:fragment="content">
    <div class="section-container">
        <div layout:insert="~{/literature/control-panel :: panel(${book})}">
        </div>
        <div class="container">
            <div class="row border-bottom">
                <div class="col">
                    <p>ISN</p>
                </div>
                <div class="col">
                    <p th:text="${book.getIsn()}"></p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Назва</p>
                </div>
                <div class="col">
                    <p th:text="${book.getName()}"></p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Рік видавництва</p>
                </div>
                <div class="col">
                    <p th:text="${book.getPublishingYear()}"></p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Видавництво</p>
                </div>
                <div class="col">
                    <p th:text="${book.getPublisher().getName()}"></p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Місце читання</p>
                </div>
                <div class="col">
                    <p th:text="${book.isLendable()}"></p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Кількість сторінок</p>
                </div>
                <div class="col">
                    <p th:text="${book.getNumberOfPages()}"></p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Період видачі</p>
                </div>
                <div class="col">
                    <p th:text="${book.getLendPeriodInDays()}"></p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Жанр</p>
                </div>
                <div class="col">
                    <p th:text="${book.getGenre().getName()}"></p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Тип книги</p>
                </div>
                <div class="col">
                    <p th:text="${book.getBookType().getName()}"></p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Твір</p>
                </div>
                <div class="col">
                    <p th:text="${book.getWriting().getName()}"></p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Автор(-и)</p>
                </div>
                <div class="col">
                    <p th:each="author: ${book.getWriting().getAuthors()}" th:text="${author.getName()}"></p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Екземпляри</p>
                </div>
                <div class="col">
                    <p th:each="pair: ${exemplarCountByLibrary}"
                       th:text="${pair.getValue()} + ' шт. у бібліотеці №' + ${pair.getKey().getNumber()}"></p>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col">
                    <p>Опис</p>
                </div>
                <div class="col">
                    <p th:text="${book.getDescription()}"></p>
                </div>
            </div>
            <div class="row border-bottom" sec:authorize="isAuthenticated()">
                <div class="col">
                    <p>Створено</p>
                </div>
                <div class="col">
                    <p th:text="${book.getCreatedAt()}"></p>
                </div>
            </div>
            <div class="row border-bottom" sec:authorize="isAuthenticated()">
                <div class="col">
                    <p>Оновлено</p>
                </div>
                <div class="col">
                    <p th:text="${book.getUpdatedAt()}"></p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>